@page
@using PetStoreUI.Pages.Cart
@model PetStoreUI.Pages.Cart.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h2>Shopping Cart</h2>
<p>This is your shopping cart.</p>

@if (Model.CartItems.Any())
{
    <ul>
        @foreach (var item in Model.CartItems)
        {
            <li>
                Pet ID: @item.PetId, Quantity: @item.Quantity
            </li>
        }
    </ul>
}
else
{
    <p>Your cart is empty.</p>
}