@page
@inject HttpClient Http



@model PetsIndexModel

<h1>Pet Categories</h1>

<ul>
    @foreach (var petType in Model.PetTypes)
    {
        <li>
            <a href="/Pets/List/@petType.Id">@petType.Name</a>
        </li>
    }
</ul>