@using PetStoreAPI.Data
@using PetStoreAPI.Entities
@inject PetStoreDbContext DbContext

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pet Store</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    @{
        var user = DbContext.Users.FirstOrDefault(u => u.Id == 1);
        var userName = user?.Username;
    }
    <header class="header">
        <div class="header-title">Pet Store</div>
    </header>
    <nav class="navbar">
        <div class="nav-left">
            <div class="welcome-message">Welcome, <strong>@userName</strong>, to the store!</div>
        </div>
        <div class="nav-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Cat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Dog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Insects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Fish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Bird</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Other</a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="/Account/Register">Register</a>
            <a href="/Home/Help">Help</a>
            <a href="/Cart">
                <img src="~/images/cart-icon.png" alt="Cart" />
            </a>
        </div>
    </nav>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - Pet Store</p>
    </footer>
</body>

</html>
