.manage-pets-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensure columns fill the available space */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.manage-pets-table th, .manage-pets-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: auto; /* Ensure columns fill the available space */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.manage-pets-table img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.manage-pets-table th:nth-child(1), .manage-pets-table td:nth-child(1) {
  width: 5%; /* ID */
}

.manage-pets-table th:nth-child(2), .manage-pets-table td:nth-child(2) {
  width: 5%; /* Category */
}

.manage-pets-table th:nth-child(3), .manage-pets-table td:nth-child(3) {
  width: 10%; /* Pet Name */
}

.manage-pets-table th:nth-child(4), .manage-pets-table td:nth-child(4) {
  width: 5%; /* Gender */
}

.manage-pets-table th:nth-child(5), .manage-pets-table td:nth-child(5) {
  width: auto; /* Description */
}

.manage-pets-table th:nth-child(6), .manage-pets-table td:nth-child(6) {
  width: 8%; /* Price */
}

.manage-pets-table th:nth-child(7), .manage-pets-table td:nth-child(7) {
  width: 8%; /* Birth Date */
}

.manage-pets-table th:nth-child(8), .manage-pets-table td:nth-child(8) {
  width: 12%; /* Image */
  text-align: center;
}

.manage-pets-table th:nth-child(9), .manage-pets-table td:nth-child(9) {
  width: 10%; /* Actions */
}

.back-to-dashboard {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
}

.back-to-dashboard:hover {
  text-decoration: underline;
  color: darkblue;
}

.add-button {
  float: right;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}

.edit-button, .delete-button {
  width: 100px; /* Fixed width */
  margin-bottom: 5px;
}

.edit-button {
  background-color: #007bff;
  margin-right: 5px; /* Add space between buttons */
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}