@page
@using PetStoreLibrary.DTOs
@model IEnumerable<PetTypeDTO>

<div class="container">
    <div class="category-menu">
        <h2>Category Menu</h2>
        <ul>
            @if (Model != null && Model.Any())
            {
                @foreach (var petType in Model)
                {
                    <li onclick="loadFeatures('@petType.Name')">
                        <i class="fa fa-paw"></i> @petType.Name
                    </li>
                }
            }
        </ul>
    </div>

    <div class="featured-product">
        <h2>Featured Product</h2>
        <div id="product-list" class="product-list">
            <!-- Các sản phẩm sẽ được tải qua JavaScript -->
        </div>
    </div>
</div>

<!-- Tham chiếu tới file JavaScript app.js -->
<script src="~/js/app.js"></script>