h1, h2 {
  margin-left: 20px;
}

.table-wrapper {
  overflow-x: auto; /* Ensure table does not overflow */
  margin: 20px 0;
}

button {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.back-to-dashboard {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
}

.back-to-dashboard:hover {
  color: darkblue;
}




